*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

$mainBlack:#222;
$mainRed:#ff0000;
$mainWhite:#fff;
$mainGrey:#ececec;

body{
    font-family: 'Open Sans', sans-serif;
    background: $mainWhite;
    color: $mainBlack;
}